{% extends "layout.html" %}

{% block content %}
<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<div class="container">
    <form name="designed_clothing" action="" method="post" novalidate enctype="multipart/form-data">
        <fieldset class="form-group">
            <legend>{{title}}</legend>
            {{ form.hidden_tag() }}
            <p> {{ form.location.label }}</br>
                {{ form.location }}
                {% for error in form.location.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.total_quantity.label }}</br>
                {{ form.total_quantity }}
                {% for error in form.total_quantity.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>
            <div class="row" style="margin-left:1px">
            <p> {{ form.color.label }}</br>
                {{ form.color }}&nbsp &nbsp &nbsp &nbsp
                {% for error in form.color.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.material.label }}</br>
                {{ form.material }}&nbsp &nbsp &nbsp &nbsp
                {% for error in form.material.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.sleeve_type.label }}</br>
                {{ form.sleeve_type }}&nbsp &nbsp &nbsp &nbsp
                {% for error in form.sleeve_type.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>
            
            <p> {{ form.size.label }}</br>
                {{ form.size }}
                {% for error in form.size.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>
            </div>
            <p> {{ form.category.label }}</br>
                {{ form.category }}
                {% for error in form.category.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.image.label }}</br>
                {{ form.image }}
                {% for error in form.image.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.design_code.label }}</br>
                {{ form.design_code }}
                {% for error in form.design_code.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p>
                 <button class="button" style="vertical-align:middle"><span>Add </span></button>
            </p>

        </fieldset>
    </form>
</div>
{% endblock %}