{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form name="raw_product_update" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>
            {{ form.hidden_tag() }}
            <p> {{ form.sku_id.label }}</br>
                {{ form.sku_id }}
                {% for error in form.sku_id.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.delete_quantity.label }}</br>
                {{ form.delete_quantity }}
                {% for error in form.delete_quantity.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p>
                {{ form.submit() }}
            </p>

        </fieldset>
    </form>
</div>
{% endblock %}