{% extends "layout.html" %}

{% block content %}
<style>
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        padding: 0px 10px;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        position: relative;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
</style>

<div>
    <div class="sidenav">
        <a href="{{ url_for('add_incoming_products') }}">Add New HTP</a>
        <a href="{{ url_for('add_incoming_products') }}">Add New Plain Clothing</a>
        <a href="{{ url_for('add_incoming_products') }}">Add New Embroidery</a>
        <a href="{{url_for('update_incoming_product')}}">Increase Quantity</a>
        <a href="#">Decrease Quantity</a>
        <a href="#">Delete</a>
    </div>
    <div class="main">
        <h1>Raw Products</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">SKU ID</th>
                    <th scope="col">Location</th>
                    <th scope="col">Reorder Point</th>
                    <th scope="col">Demand</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Time</th>
                    <th scope="col">QR Code</th>
                    <!-- <th scope="col">QR Code</th> -->
                </tr>
            </thead>
            <tbody>
                {% for data in incomingProductsData %}
                <tr>
                    <td scope='row'>{{ data["sku_id"] }}</td>
                    <td>{{ data["location"] }}</td>
                    <td>{{ data["reorder_point"] }}</td>
                    <td>{{ data["demand"] }}</td>
                    <td>{{ data["total_quantity"] }}</td>
                    <td>{{ data["updated_at"] }}</td>
                    <td>
                        <img src="{{ url_for('get_qr_code', sku_id=data['sku_id'])}}">
                        <div style="margin-top: 1rem; text-align: center">
                            <button
                                style="background-color: #63b3ed; border: none; color: #fff; cursor: pointer; padding: 0.5rem 1rem"
                                , onclick="printImg(this)" , id="{{ url_for('get_qr_code', sku_id=data['sku_id'])}}">
                                Print
                            </button>
                        </div>
                        </img>
                        <script>
                            function printImg(e) {
                                url = e.id
                                var win = window.open('');
                                win.document.write('<img src="' + url + '" onload="window.print();window.close()" />');
                                win.focus();
                            }
                        </script>
                    </td>
                    <td>
                        <form action="{{url_for('delete_incoming_product')}}" method="POST">
                            <input type="hidden" name="sku_id" value="{{data['sku_id']}}">
                            <button>Delete Product</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>

{% endblock %}