{% extends "layout.html" %}

{% block content %}
<h1>Raw Items</h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">SKU ID</th>
                <th scope="col">Category</th>
                <th scope="col">Colour</th>
                <th scope="col">Size</th>
                <th scope="col">Quantity</th>
                <th scope="col">QR Code</th>
                <!-- <th scope="col">QR Code</th> -->
            </tr>
        </thead>
        <tbody>

            {% for data in rawItemData %}
            <tr>
                <td scope='row'>{{ data["sku_id"] }}</td>
                <td>{{ data["category"] }}</td>
                <td>{{ data["colour"] }}</td>
                <td>{{ data["size"] }}</td>
                <td>{{ data["quantity"] }}</td>
                <td><img src="{{ url_for('get_qr_code', sku_id=data['sku_id'])}}"></td>
                <td>
                    <form action="{{url_for('add_item')}}" method="POST">
                        <input type="hidden" name="sku_id" value="{{data['sku_id']}}">
                        <input type="hidden" name="category" value="{{data['category']}}">
                        <input type="hidden" name="colour" value="{{data['colour']}}">
                        <input type="hidden" name="quantity" value="{{data['quantity']}}">
                        <button>Add</button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('delete_item')}}" method="POST">
                        <input type="hidden" name="sku_id" value="{{data['sku_id']}}">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}