
    {% extends "layout.html" %}
   
    {% block content %}
    
    <div class="container">
         <form name="register_supplier" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>     
            {{ form.hidden_tag() }}       
                <p> {{ form.id.label }}</br>
                    {{ form.id }}
                    {% for error in form.id.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.location.label }}</br>
                    {{ form.location }}
                    {% for error in form.location.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.name.label }}</br>
                    {{ form.name }}
                    {% for error in form.name.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.lead_time.label }}</br>
                    {{ form.lead_time }}
                    {% for error in form.lead_time.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> 
                    {{ form.submit() }}
                </p>
            
        </fieldset>
        </form>
    </div>
    {% endblock %}