{% extends "layout.html" %} {% block content %}
<h1>Suppliers</h1>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Lead Time</th>
      </tr>
    </thead>
    <tbody>
      {% for data in supplierData %}
      <tr>
        <td scope="row">{{ data["id"] }}</td>
        <td>{{ data["name"] }}</td>
        <td>{{ data["location"] }}</td>
        <td>{{ data["lead_time"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
