<header>
	<nav>
		<ul class="nav nav-pills">
			<li class="nav-item"><a href="{{ url_for('index') }}"
					class="nav-link {% if index %}active{% endif %}">Home</a></li>
			<li class="nav-item"><a href="{{ url_for('incoming_products') }}"
					class="nav-link {% if incoming_products %}active{% endif %}">Raw Items</a></li>
			<li class="nav-item"><a href="{{ url_for('incoming_products') }}"
					class="nav-link {% if incoming_products %}active{% endif %}">Created Items</a></li>
			<li class="nav-item"><a href="{{ url_for('supplier') }}"
					class="nav-link {% if supplier %}active{% endif %}">Suppliers</a></li>
			<li class="nav-item"><a href="{{ url_for('register_supplier') }}"
					class="nav-link {% if register_supplier %}active{% endif %}">Register
					Supplier</a></li>
		</ul>
	</nav>
	<hr style="clear:both">
</header>